Backend (Node.js)

backend/node_modules/
backend/.env

Frontend (Flutter)

frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/ios/Pods/
frontend/ios/Podfile.lock
frontend/ios/.symlinks/
frontend/windows/flutter/ephemeral/
frontend/linux/flutter/ephemeral/
frontend/macos/flutter/ephemeral/